# ─── Database ─────────────────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=family_roots

# ─── Backend ─────────────────────────────────────────────────────────
APP_SECRET_KEY=changeme

# ─── pgAdmin ─────────────────────────────────────────────────────────
PGADMIN_DEFAULT_EMAIL=admin@familyroots.dev
PGADMIN_DEFAULT_PASSWORD=changeme
